<div id="container" class="table-responsive">
  <div class="container">
    <div class="row">
      <div class="col-md-3 ">
        <div class="list-group ">
          <a class="list-group-item list-group-item-action active">Profile</a>
          <a class="list-group-item list-group-item-action">Music</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h4>TRAKCS</h4>
                <hr>
              </div>
                <div>
                  <%= link_to "CREATE TRACK", new_user_album_track_path(current_user.id, @album.id, @track) %>
                </div>
                <ul>
                <% @tracks.each do |track| %>
                <h2> <%= track.name%> </h2>
                <%= link_to "Edit", edit_user_album_track_path(current_user.id, @album.id, track) %>
                <%= link_to "Delete", user_album_track_path(current_user.id, @album.id, track), method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
              </ul>
            </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
