<h1>
  Welcome to Audiosocket  <%= @audition.first_name %>
</h1>
  <p>
    Hello [ <%= @audition.first_name %> ],
  </p>
  <p>
    Thank you for submitting an audition. After careful review, we hav decided the music you 
    submitted is not a match for our current needs. Please understand, that while your music
    may not be a match this time, it certainly might be in the future as our clients’ needs are
    constantly changing.With that in mind, we encourage you to submit new music again in the 
    future.
  </p>
  <p>Have a great day!
  </p>
