<p>
  Hi [ <%= @audition.first_name %> ]!
</p>
<p>Thanks for submitting music to Audiosocket, 
  we have listened to your link and would love to work with you! : .Kindly Reset Your Password:
  <%= link_to "Password Reset", new_user_password_url, class: 'btn btn-primary btn-sm' %> </p> 
<p>Thanks for joining and have a great day!</p>
