<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <li class="alert alert-secondary" role="alert" >
          <%= message %>
      </li>
    <% end %>
  </div>
<% end %>
