<!-- Footer -->
<body class="d-flex flex-column min-vh-100">
<footer class="text-center text-lg-start bg-light text-muted mt-auto">
  <!-- Copyright -->
  <div class="flex-fill" position: fixed>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href= '/' > Audiosocket.com</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
